h1{
    color:coral
}

ol{
    color: rgb(236, 40, 72);
  }
.header {
    display:flex;
    justify-content: space-between;
}
.games {
    display:flex;
    justify-content: space-evenly;
flex-wrap: wrap;
}
.social {
    display: flex;
    justify-content: flex-end;
}